/* Style */

body
{
	font-size: 90%;
	background-color: #E3E3E3;
	margin: 10px;
}

header
{
	margin: 5px;
	padding: 5px;
	border: 2px solid #F1F1F1;
	border-radius: 10px;
	background-color: #F1F1F1;
}

aside
{
	float: right;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	background-color: #F1F1F1;
	border: 3px solid #E3E3E3;
	border-top: 0px;
	border-radius: 10px;
}

article
{
	text-align: justify;
	margin: 5px;
	padding: 5px;
	border: 2px solid #F1F1F1;
	border-radius: 10px;
	background-color: #F1F1F1;
}

footer
{
	clear: both;
	margin: 5px;
	padding: 5px;
	border: 2px solid #F1F1F1;
	border-radius: 10px;
	background-color: #F1F1F1;
}

a { color: #0000C9; }
a:hover { color: #510090; }
a:visited { color: #9B0000; }

.menu_background_color { background-color:#00B4BE; }

.line_color { background-color:#676965; }


/* Text style, Error, Warning, TODO, Work In Progress */

.small_caps
{ font-variant: small-caps; }

.error
{
	color: red;
	font-weight: bold;
}

.success
{
	color: green;
	font-weight: bold;
}

.warning
{
	color: orange;
	font-weight: bold;
}

.todo
{
	color: purple;
	font-weight: bold;
}

.wip
{
	color: darkblue;
	font-weight: bold;
}


/* Text align */

.center
{ text-align: center; }

.left
{ text-align: left; }

.right
{ text-align: right; }

.middle
{ vertical-align: middle; }


/* Float */

.float_left
{ float: left; }

.float_right
{ float: right; }

.clear
{ clear: both; }
